include README.md
include LICENSE
recursive-include cc_sessions/python *
recursive-include cc_sessions/protocols *.md
recursive-include cc_sessions/agents *.md
recursive-include cc_sessions/commands *.md
recursive-include cc_sessions/templates *.md *.py
recursive-include cc_sessions/knowledge *
recursive-include docs *.md
